/* form container */



/* zodiac image */
.zodiac-bubble {
    background: black;
    height: 300px;
    padding: 20px;
}

.zodiac-bubble svg {
    fill: white;
    height: 180px;
    width: 180px;
    position: relative;
    top: 35px;
}