/* initial-form format */

/* 
colors:

red : #B0413E
purple : #634B66

*/


.fullscreen-form {
    /* height: 100%; */
}

#initial-form {
    background: #712A28;
}

#result-form {
    /* background: # */
}



/* zodiacForm */

#zodiacForm {
    border-radius: 15px;
    margin: auto 40px;
    padding: 15px 50px;
    position: relative;
    margin: 18% 50px;
}

#zodiac-container {
    margin: 30px auto;
}

/* zodiac image */
.zodiac-bubble {
    background: black;
    height: 250px;
    padding: 20px;
}

.zodiac-bubble svg {
    fill: white;
    height: 150px;
    width: 180px;
    position: relative;
    top: 35px;
}

#zodiacForm button {
    color: white;
    border-color: white;
    font-size: 14px;
    background: #634B66;
    border-radius: 5px;
}


/* results */

#results {
    background: white;
    padding: 30px 80px;
    position: relative;
    min-height: 450px;
    margin: 20% 50px;
    font-size: 18px;
    border-radius: 25px;
    line-height: 25px;
}

#results button {
    color: #634B66;
    border-color: #634B66;
    font-size: 14px;
}

#results img {
    height: 150px;
    display: block;
    margin: 30px auto;
}

#pos-container {
    text-align: center;
    font-size: 14px;
    margin: 40px auto;
    color: #666;
}

#go-again {
    display: block;
    margin: auto;
    text-align: center;
}




/* positivity bar */

/* .bar {
    height: 25px;
}

 #pos-container {
    border: solid 2px #777;
    background: white;
    position: relative;
    width: 100%;
}

#pos-bar {
    background: #777;
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
} */

/* form styling */

#form{
    float: center;
    max-width: 800px ;
    margin: 0px auto;
}



.floated-label-wrapper {
    position: relative;
  }
  
  .floated-label-wrapper label {
    background: #fefefe;
    color: #1779ba;
}

/* ---- reset ---- */ 

body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block; } 