/* form container */



/* zodiac image */
.zodiac-bubble {
    background: black;
    height: 300px;
    padding: 20px;
}

.zodiac-bubble svg {
    fill: white;
    height: 180px;
    width: 180px;
    position: relative;
    top: 35px;
}

/* results */

#results {
    background: white;
    padding: 10px;
}

/* positivity bar */

.bar {
    height: 25px;
}

#pos-container {
    border: solid 2px #777;
    background: white;
    position: relative;
    width: 100%;
}

#pos-bar {
    background: #777;
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
}